/* Base Styles */
body {
    font-family: 'Oxygen', sans-serif;
}

/* Form Elements */
input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 3px;
}

/* Buttons and Inputs */
input[type=submit], button, .logout, .logout-button {
    background-color: #1557FF;
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 12px 20px;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    height: max-content;
    width: auto;
}

input[type=submit], button {
    width: 100%;
    margin: 50px 0 8px;
}

main form input[type=submit] {
    width: max-content;
}

.logout-button {
    display: inline-block;
    margin-top: 5px;
    padding: 10px;
    background: #109ae5;
}

.logout {
    height: max-content;
    margin: 30px;
    padding: 10px;
}

/* Layout Helpers */
hr {
    margin: 30px 0;
}

.clear { clear: both; } 
.right { float: right; } 
.left { float: left; }

/* Header Styles */
header {
    background-color: #FFF0E5;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
}

header p {
    font-weight: bold;
}

.header-first-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.title {
    font-size: 3em;
    padding: 30px 0;
    margin: auto 0;
}

.user-info {
    text-align: right;
    margin-top: 10px;
}

.header-greet {
    margin: 0;
}

/* Navigation */
.navbar {
    margin-top: 30px;
    display: flex;
    width: 100%;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    padding: 8px 0;
    color: #1557FF;
    margin-right: 15px;
}
.navbar a.logout {
    display: inline-block;
    padding: 8px 15px;
    margin: 0 0 0 auto; /* Push to the right */
    height: auto;
    min-width: 80px;
    color: white;
    text-align: center;
    background-color: #1557FF;
    border-radius: 5px;
}

.navbar a.logout:hover {
    border-bottom: none;
    opacity: 0.9;
}
.navbar a:hover, .navbar .current-page {
    font-weight: bold;
}

/* Main Content */
.app {
    min-width: 800px;
    max-width: 60%;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 3px 10px rgba(0, 0, 0, 0.19);
}

main {
    display: flex;
    flex-direction: column;
    padding: 0 40px 20px;
    justify-content: center;
}

main h2 {
    font-size: 2em;
}

main table {
    text-align: left;
    border-collapse: separate;
    border-spacing: 0 15px;
    width: 80%;
}

/* Login Form */
.login-form {
    align-self: center;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: start;
    padding: 50px 0;
}

.login-form form .errorlist {
    color: red;
}

form * {
    display: block;
}

form label {
    font-size: 1em;
    font-weight: bold;
    padding-top: 20px;
}

::placeholder {
    color: #999;
    opacity: 1; /* Firefox */
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #999;
    font-style: italic;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #999;
    font-style: italic;
}

/* Menu Items */
.menu-items {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
    list-style-type: none;
}

.menu-items * {
    padding: 0;
}

.menu-items > li {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid grey;
    margin: 10px 0;
    border-radius: 10px;
    justify-content: left;
    flex-basis: 45%;
}

.menu-items ul {
    list-style-type: none;
}

.menu-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5em;
}

.menu-item-title {
    font-weight: bold;
}

.menu-item-ingredients {
    padding: 20px 0;
}

.menu-item-ingredients * {
    padding: 5px 0;
}

/* Links */
a {
    text-decoration: none;
    color: #1557FF;
}

a:hover {
    font-weight: bold;
}
