{% extends "base.html" %}
{% block title %}Delights - Login{% endblock %}
{% block content %}
{% load static %}

<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet" />

<div class="login-form">
    <h2>Please login</h2>
      <form class="login" method="post">
          <div>
            {% csrf_token %}
            {{ form.username.label_tag }}
            <input type="text" name="{{ form.username.html_name }}" id="{{ form.username.auto_id }}" placeholder="Demo username: admin" required>
            
            {{ form.password.label_tag }}
            <input type="password" name="{{ form.password.html_name }}" id="{{ form.password.auto_id }}" placeholder="Demo password: admin123" required>
            
            <input type="submit" value="Login"/>
          </div>
      </form>
    </div>
{% endblock %}
